:root {
    color-scheme: light dark;
}

body {
    font-family: "Noto Serif", "Merriweather", "Lora", serif;
    padding: 35px 30px 20px 30px;
    line-height: 1.4;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

body > main {
    flex-grow: 1;
}

body > main > h1 {
    margin-block: 0 0.25em;
    font-size: 3em;
}

body > main > section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    margin-block: 2em;
}

body > main > section > article {
    display: flex;
    flex-direction: column;
}

body > main > section > article > a:has(img):hover {
    box-shadow: none;
}

body > main > section > article > a > img {
    width: 100%;
    height: auto;
}

body > main > section > article > h2 {
    margin: 0;
    font-size: 1.3em;
}

body > main > section > article > p {
    margin-block: 0.25em 0.5em;
    font-size: 0.9em;
    color: var(--oc-gray-6);
}

body > footer {
    margin-top: 50px;
    border-top: 1px solid var(--oc-gray-6);
    padding-top: 5px;
}

body > footer > p {
    margin-block: 0.5em;
}

a {
    --item-color: var(--oc-blue-8);

    color: currentColor;
    text-decoration: underline solid var(--item-color);
    text-decoration-thickness: 1px;
    box-decoration-break: clone;
}

a:hover {
    background: var(--item-color);
    box-shadow:
        -1px 0px 0px 3px var(--item-color),
        1px 0px 0px 3px var(--item-color);
    text-decoration: none;
    color: white;
}
