:root {
    --color-primary: var(--oc-green-8);
    --color-accent: var(--oc-orange-8);
    --lightningcss-light: initial;
    --lightningcss-dark: ;
    color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
    :root {
        --lightningcss-light: ;
        --lightningcss-dark: initial;
    }
}
@media print {
    :root {
        --lightningcss-light: initial;
        --lightningcss-dark: ;
        color-scheme: light;
    }
}
body {
    grid-template: "sidebar main" 1fr "footer footer" / auto 1fr;
    gap: 25px 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-height: 100vh;
    margin: 0;
    padding: 35px 30px 20px;
    font-family: Inter, Ubuntu, Roboto, Helvetica, Noto, sans-serif;
    font-size: max(0.9rem, min(0.7rem + 0.5vw, 1.05rem));
    line-height: 1.4;
    display: grid;
}
@media (max-width: 750px) {
    body {
        grid-template: "sidebar" "main" 1fr "footer"/1fr;
    }
}
body > header {
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    grid-area: sidebar;
    gap: 20px;
    display: flex;
}
@media (max-width: 750px) {
    body > header {
        gap: 7.5px;
    }
}
body > header > a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    font-size: 2em;
    font-weight: 900;
    text-decoration: none;
}
@media (max-width: 750px) {
    body > header > a {
        margin-bottom: 2.5px;
    }
}
body > header > a:hover {
    color: currentColor;
    background-color: unset;
    box-shadow: none;
}
body > header > a > sup {
    color: var(--color-primary);
}
body > header > a:hover > sup {
    color: var(--color-accent);
    text-shadow:
        2.5px 2.5px 25px var(--color-accent),
        -2.5px -2.5px 25px var(--color-accent);
}
body > header > nav {
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    gap: 7.5px;
    display: flex;
}
@media (max-width: 750px) {
    body > header > nav {
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-flow: wrap;
        align-content: center;
    }
}
body > header > nav > a {
    --item-color: var(--color-primary);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
body > header > nav > a.active {
    --item-color: var(--color-accent);
}
body > main {
    grid-area: main;
    min-width: 0;
    max-width: 800px;
    margin-top: 5px;
}
body > main h1:first-child {
    margin-top: 0;
}
body > footer {
    border-top: 1px solid var(--lightningcss-light, var(--oc-gray-5)) var(--lightningcss-dark, var(--oc-gray-7));
    grid-area: footer;
    margin-top: 40px;
    padding-top: 10px;
    font-size: 0.9em;
}
body > footer > p {
    color: var(--lightningcss-light, var(--oc-gray-6)) var(--lightningcss-dark, var(--oc-gray-5));
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
body > footer > p > a {
    text-decoration-thickness: 1px;
}
body > footer > p > time {
    font-weight: 700;
}
a {
    --item-color: var(--color-accent);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: currentColor;
    -webkit-text-decoration: underline solid var(--item-color);
    text-decoration: underline solid var(--item-color);
    text-decoration-thickness: 2px;
    position: relative;
}
a:hover {
    z-index: 10;
    color: #fff;
    background: var(--item-color);
    box-shadow:
        -1px 0 0 2.5px var(--item-color),
        1px 0 0 2.5px var(--item-color);
    text-decoration: none;
}
code,
pre,
samp {
    font-family:
        Source Code Pro,
        Menlo,
        Consolas,
        Monaco,
        Liberation Mono,
        Lucida Console,
        monospace;
}
