body > main > article > hgroup > h1 {
    margin-block-end: 0.25em;
}
body > main > article > hgroup > p {
    margin-block: 0 1.5em;
}
body > main > article > hgroup > p > time {
    color: var(--lightningcss-light, var(--oc-gray-6)) var(--lightningcss-dark, var(--oc-gray-5));
}
