body > main > div {
    grid-template-rows: masonry;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
    display: grid;
}
@media (max-width: 750px) {
    body > main > div {
        grid-template-columns: 1fr;
    }
}
body > main > div > section > h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
